body {
  background-color: black;
}

.container {
    width: 100%;
}

.if-inverted {
  background-color: black;
  color: white;
}

#controls-container {
  position: absolute;
  top: 52px;
}

#content {
  padding: 0px;
  margin: 0px;
  margin-top: 54px;
  overflow: hidden;
}

#volumename {
  width: 100%;
  color: white;
  background-color: black;
  text-align: center;
  font-size:16px;
  border-bottom:1px solid grey;
}

.inline-progress {
  margin-bottom: 0px;
}

.api-item {
  width-max:680px;
}

#slicePane {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: green;
}

#drawPane {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    cursor:crosshair;
    border: 1px solid darkgrey;
}

.c select {
  color: black;
}

.comment-box {
  display: block;
  width: 240px;
  background-color: #ffff66;
  border: 1px solid #cc9900;
  color: #333300;
  font-size: 70%;
  padding-top:5px;
  padding-left:5px;
  padding-right:5px;
}

.comment-box a {
  color: #cc9900;
}

.comment-username {
  display:inline;
}

.comment-message {
  padding-top: 5px;
  padding-bottom: 10px;
}

.comment-delete {
  margin:auto;
}

#load-indicator {
  background-color: #000000;
  text-align: center;
}
